@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant SC", serif;
  color: #333;
}

html {
  font-size: 50.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Cormorant SC", serif;
}
 h6{
    font-family: "Poppins", sans-serif;
 }

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  line-height: 1.6;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 9rem 0;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background-color: #FF3147;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn p {
  color: white;
}

.btn:hover,
.btn:active {
  box-shadow: #FF3147;
  background-color: #f587b5;
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
}

.common-heading::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--helper);
  border-radius: 50%;
}

.common-heading::after {
  content: "";
  position: absolute;
  top: 118%;
  left: 1.5rem;
  min-width: 20rem;
  height: 0.3rem;
  background: var(--helper);
}

.section-hero {
  background-color: var(--bg);
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-top-data {
  text-transform: uppercase;
  font-weight: 500;
  font-weight: bold;
  font-size: 2rem;
  color: #FF3147;
}

.hero-heading {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 5.4rem;
}

.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
  font-family: "Poppins", sans-serif;
}

.section-hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

picture {
  text-align: center;
}

.hero-img {
  max-width: 80%;
}

.carousel-section {
  padding: 60px;
  justify-content: center;
}

/* carrousel */

input[type=radio] {
  display: none;
}

.pop {
  width: 480px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carrousel-container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
}

.cards {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  position: relative;
}

.card {
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 200px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform .4s ease;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 60%;
  height: 400px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #pic-3,
#item-2:checked ~ .cards #pic-1,
#item-3:checked ~ .cards #pic-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #pic-2,
#item-2:checked ~ .cards #pic-3,
#item-3:checked ~ .cards #pic-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #pic-1,
#item-2:checked ~ .cards #pic-2,
#item-3:checked ~ .cards #pic-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #pic-1 img,
#item-2:checked ~ .cards #pic-2 img,
#item-3:checked ~ .cards #pic-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 95em) {
  .container {
    max-width: 130rem;
    padding: 0 3.2rem;
  }
}

.feat-row{
    display: flex;
}

.feat-container,
.feat-container a,
.feat-container a:active,
.feat-container a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

.feat-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feat-container img {
  max-width: 100%;
  height: auto;
  padding: 8px;
}


.feat-item {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border: 5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}

.feat-item:hover {
  background: #f91942;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}

.feat-item:hover .feat-item,
.feat-item:hover span.feat-icon {
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}

.feat-item:hover h6,
.feat-item:hover p {
  color: #fff;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}

.feat-item img{
    height: 50px;
    width: 50px;
}



.feat-item p {
  font-size: 15px;
  line-height: 26px;
}

.feat-item h6 {
  margin-bottom: 20px;
  color: #2f2f2f;
}

.project-section{
    display: flex;
}

.left-container{
    align-items: center;
    padding-top: 60px;
}
.left-container img{
    width: 80%;
    height: 80%;
}

.right-container{
    padding-right: 20px;
    padding-top: 120px;
}

.stats-container{
    display: flex;
}

.stat {
    display:flex;
    justify-content: center;
   column-gap: 66px;
    margin:150px auto;
    text-align:center;
 }
 .highlight {
    color:#111;
    padding:20px 0;
    font-weight:bold;
    display:block;
    overflow:hidden;
    margin-bottom:0;
    font-size:48px;
 }
 .stat img {
     width: 50%;
     height: 50%
 }
 .milestone-details {
    font-weight:bold;
    font-size:18px;
    color:#999;
 }

 .footer {
    height: 20vh;
    width: 100vw;
    background-color: #FF3147;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


 .footer img {
    max-width: 40%;
    height: auto;
}



